@import '../styles/theme.css';

.footer {
  height: var(--bar-size);
  width: 100%;
  background: var(--color-bg-dark);
  color: var(--color-text);

  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow);
}
