@import '../styles/theme.css';

.navbar {
  height: var(--bar-size);
  width: 100%;
  background: var(--color-bg-dark);
  color: var(--color-text);

  display: flex;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
  box-shadow: var(--shadow);
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: .02em;
}
